streamlit
langchain
langchain-community
langchain-classic
langchain-core
langchain-google-genai
langgraph
faiss-cpu
google-generativeai
google-genai
pymupdf
python-dotenv
requests
pydantic
sentence-transformers